.cabeçalho{
    border: 3px solid black;
    background-color: gray;
    padding: 20px 20px 0px 20px;
    
}

.titulo{
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: flex-start;
    top: 95px;
    left: 5px;
}

.botmenu{
    list-style: none;
}

.bot{
    display: inline;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    border: 2px solid black;
    background-color: rgb(65, 65, 114);
    color: black;
    text-decoration: none;
}

.logo{
    width: 50px;
}

.lupa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemagendado{
    border: 3px solid black;
    border-radius: 30px;
    background-color: gray;
    padding: 5px 20px 5px 20px;
}

.dados{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.negrito{
    font-weight: 900;
}

.urgencia{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circulo{
    display: flex;
    background-color: red;
    border: 3px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.amarelo{
    background-color: yellow;
}

.vermelho{
    background-color: red;
}

.distancia{
    padding: 0px 5px 0px 5px;
} 