.cabecalho {
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgb(244, 250, 252), rgb(87, 210, 252));
    padding: 20px;
}

.cantoEsquerdo {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    flex-wrap: wrap;
    border-bottom: 0px;
    justify-content: space-between;
}

.imgCantoEsquerdo {
    padding: 10px;
    border-left: 30px;    
}

.tituloSite {
    text-align: center;
}

h1 {
    left: 500px;
    padding: 20px;
    font-size: 3rem;
}

header {
    border-bottom: solid 1px rgb(129, 121, 231);
}

#configuracao {
    border: solid 1px black;
    border: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    box-shadow:  2px 3px 9px rgb(102, 102, 102); 
}

#configuracao:hover {
    background-color: white;
    cursor: pointer;
}

#acessandoAsConfiguracoes {
    position: absolute;
    margin: 20px 0px 10px 10px;
    display: none;
    height: 200px;
    width: 300px;
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
    z-index: 2;
    font-size: 1.5rem;  
    /*position: fixed;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    
}

#fechaConfiguracao {
    float: right;
    padding: 2px 5px;

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#criaEvento {
    padding: 3px;
    border: solid 1px black;
    border: 3px 0px 3px;
    font-size: 1.1rem;
}

#criaEvento:hover {
    background-color: white;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 1.6rem;
}

#cadastroEvento {
    display: none;
    height: 250px;
    width: 500px;
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
    z-index: 3;
    font-size: 1.5rem;  
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);      
}

#fecharCadastroEvento {
    float: right;
}


.urgencia-vermelha, .urgencia-amarela, .urgencia-verde {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.urgencia-vermelha {
    background-color: red;
}

.urgencia-amarela {
    background-color: yellow;
}

.urgencia-verde {
    background-color: green;
}

